:root {
    --bg-color-night: #171B1D;
    --text-color-night: white;
    --about-color-night: white;

    --bg-color-day: #FFFFFF; 
    --text-color-day: #333333; 
    --about-color-day: #333333; 

}

.day-mode{
    /* Variables for day mode */
    --bg-color: var(--bg-color-day);
    --text-color: var(--text-color-day);
    --about-color: var(--about-color-day);
}

[data-theme="dark"] {
    --bg-color: var(--bg-color-night);
    --text-color: var(--text-color-night);
    --about-color: var(--about-color-night);
}

body {
    position: auto;
    background-color: var(--bg-color);
    font-family: 'Segoe UI', sans-serif;
    transform: translateY(10%);
    color: var(--text-color);
    margin: 4em 4em;
    max-height: 100%;
    overflow-y: scroll;
    overflow-x: hidden;
}


.wrapper {
    overflow: hidden;
}

a {
    text-decoration: none;
    font-size: 1.3rem;
    color: var(--text-color); /* Ensure consistent text color */
}

.navbar {
    position: fixed;
    display: inline-flex;
    align-items: center;
    right: 0;
    top: 0;
    background-color: var(--bg-color);
    height: 8px;
    width: 50%;
    z-index: 10;
}

.navbar-logo {
    flex-grow: 1;
}

.navbar-links {
    list-style: none;
    display: flex;
    margin: 10px;
    padding: 10px;
}

.navbar-links li {
    padding: 10 10 px;
}

.navbar-links a {
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}

.navbar-links a:hover {
    color: #D0D33C;
}

header {
    height: 4em;
    background-color: var(--bg-color);
    width: 100%;
    z-index: 10;
    position: fixed;
}

header .menu {
    float: right;
    width: 2em;
    margin-right: 6.5em;
    margin-top: 1.32em;
    z-index: 10;
    cursor: pointer;
}

header .menu:hover {
    transform: scale(1.1);
}

.overlay {
    display: none;
}

.main {
    padding: 12px;
}

.about {
    color: var(--about-color);
}

.title {
    white-space: nowrap;
    margin-top: 100px;
    margin-bottom: 40px;
    font-size: calc(40px + 3vmin);
}

.description {
    margin: 0;
}

.links::after {
    content: "\a";
    white-space: pre;
}

p, h2, a {
    font-size: calc(15px + 2vmin);
}

.typewriter {
    overflow: hidden;
    border-right: .1em solid var(--about-color);
    white-space: nowrap;
    text-align: left;
    width: 0;
    animation: typing 1s steps(20, end) forwards, blink .8s infinite;
}

.container {
    display: flex; /* Enables flexbox */
    justify-content: space-between; /* Distributes space between the children */
    align-items: flex-start; /* Aligns items at the start of the flex container */
}

.main {
    flex: 1; /* Gives the divs flexibility to grow and take up equal space */
    padding: 10px; /* Optional: Adds some space inside each div */
}

.content-container {
    display: flex;
    align-items: start; /* Adjust as needed */
    justify-content: space-between;
}

.content {
    flex: 1; /* Takes up the remaining space */
    padding-right: 10px; /* Ensures some space between the text and the image */
}

.profile-picture {
    flex: 0 0 200px; /* Does not grow, does not shrink, fixed width */
    height: auto; /* Maintain aspect ratio */
    max-width: 100%; /* Ensures the image is responsive */
}

.links-contact-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}
.content {
    flex: 1; /* Take the remaining space */
}

.links-contact-container {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}


@-webkit-keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

@keyframes ticker {
    0% {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        visibility: visible;
    }
    100% {
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }
}

.ticker-wrap {
    position: relative;
    top: 0;
    width: 100%;
    overflow: hidden;
    height: 2rem;
    background-color: var(--bg-color);
    padding-left: 100%;
}

.ticker {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
    white-space: nowrap;
    padding-right: 100%;
    -webkit-animation: ticker 35s linear infinite;
    animation: ticker 35s linear infinite;
}

.ticker_item {
    color: var(--about-color);
    display: inline-block;
    padding: 0 4rem;
    font-size: 2rem;
}

@keyframes typing {
    from { width: 0 }
    to { width: 80% }
}

@keyframes blink {
    from { border-color: transparent; }
    to { border-color: var(--about-color); }
}


@media (max-width: 500px) {
    body {
        margin: 1em;
        font-size: 90%; /* Reduce the font-size for the entire body */
    }

    .navbar {
        flex-direction: column;
        align-items: flex-start;
        padding: 5px;
        height: auto; /* Make the navbar taller, as items stack vertically */
    }

    .navbar-logo {
        margin-bottom: 10px; /* Add space between logo and nav links on mobile */
    }

    .navbar-links {
        flex-direction: column;
        align-items: flex-start;
        width: 100%; /* Make links full width */
    }

    .navbar-links li {
        padding: 5px 0; /* Add more vertical padding to each link */
    }

    .main, .content, .content-container {
        flex-direction: column;
        padding: 5px;
    }

    .profile-picture {
        flex: 1 0 auto; /* Allow the image to adjust to the container width */
        max-width: 80%; /* Reduce the max-width to fit mobile screens */
        margin: 0 auto; /* Center align the image */
    }

    .title, .subtitle, p, h1, a {
        font-size: 10px /* Adjust font sizes to be more responsive */
    }

    .ticker-wrap {
        height: auto; /* Adjust the ticker wrapper to be more responsive */
        padding-left: 0;
    }

    .ticker {
        font-size: smaller; /* Reduce the font size of the ticker */
        padding-right: 0;

    }

    @keyframes typing {
        from { width: 0 }
        to { width: 80% }
    }

    @keyframes blink {
        from { border-color: transparent; }
        to { border-color: var(--about-color); }
    }
}


