:root {
    --bg-color-day: #FFFFFF; 
    --bg-color-night: #171B1D;
    --text-color-day: #333333; 
    --text-color-night: white;
    --about-color-day: #333333; 
    --about-color-night: white;
}

[data-theme="dark"] {
    --bg-color: var(--bg-color-night);
    --text-color: var(--text-color-night);
    --about-color: var(--about-color-night);
}

.day-mode {
    --bg-color: var(--bg-color-day);
    --text-color: var(--text-color-day);
    --about-color: var(--about-color-day);
}

body {
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: monospace;
    margin: 2em;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;
    transform: translateY(10%);
}

a {
    color: var(--text-color);
    font-size: 1.3rem;
    text-decoration: none;
}

.container, .content-container {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
}

.content, .main {
    flex: 1;
    padding: 20px;
}

.description, .links::after, p, h2, a {
    margin: 0;
}

.header, .navbar {
    background-color: var(--bg-color);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
}

.header {
    height: 4em;
}

.navbar {
    align-items: center;
    display: flex;
    height: 8px;
    padding: -1px 8px;
    right: 0;
}

.navbar-logo {
    flex-grow: 1;
}

.navbar-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.navbar-links a {
    font-size: 16px;
    text-decoration: none;
    transition: color 0.3s;
}

.navbar-links a:hover, .navbar-links li {
    color: #D0D33C;
    padding: 0 15px;
}

.profile-picture {
    flex: 0 0 200px;
    height: auto;
    max-width: 100%;
}

.title {
    font-size: calc(40px + 3vmin);
}

.typewriter {
    animation: typing 1s steps(20, end) forwards, blink .8s infinite;
    border-right: .1em solid var(--about-color);
    overflow: hidden;
    text-align: left;
    white-space: nowrap;
    width: 0;
}

@keyframes typing {
    from { width: 0; }
    to { width: 80%; }
}

@keyframes blink {
    from { border-color: transparent; }
    to { border-color: var(--about-color); }
}

@media (max-width: 500px) {
    body {
        font-size: 90%;
        margin: 1em;
    }

    .navbar {
        flex-direction: column;
        height: auto;
        padding: 5px;
    }

    .navbar-logo {
        margin-bottom: 10px;
    }

    .navbar-links {
        align-items: flex-start;
        flex-direction: column;
        width: 100%;
    }

    .navbar-links li {
        padding: 5px 0;
    }

    .content, .main, .content-container {
        flex-direction: column;
        padding: 5px;
    }

    .profile-picture {
        margin: 0 auto;
        max-width: 80%;
    }

    .title, .subtitle, p, h1, a {
        font-size: 10px;
    }

    .ticker-wrap {
        height: auto;
        padding-left: 0;
    }

    .ticker {
        font-size: smaller;
        padding-right: 0;
    }
}

